# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.dist/
.build/
build/
dist/

# Virtual envs
.venv/
venv/

# macOS metadata
.DS_Store

# Fuzion outputs
out/
corpus/generated/
corpus/runs/

TODO.md
tools
poc.html